body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                url('../images/imagenV1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* relleno del contenedor principal */
main {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* diseño del título del formulario */
h1 {
    color: #4CAF50;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* diseño de los campos del formulario */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* diseño del botón de inicio de sesión */
form button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

/* Enlace de recuperación o registro */
form .extra-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

form .extra-link a {
    color: #008CBA;
    text-decoration: none;
    font-weight: bold;
}

form .extra-link a:hover {
    text-decoration: underline;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    form button {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

a.inicio {
    position: absolute; 
    top: 10px;
    right: 20px; 
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

a.inicio:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

a.miperfil {
    position: absolute; 
    top: 10px;
    right: 20px; 
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

a.miperfil:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}